
@{
    ViewData["Title"] = "Index";
     ViewData.AddActivePage(ManageNavPages.Leaderboard);
}

<div class="card">
    <div class="card-header">
        Leaderboard
    </div>
    <div class="card-body">

        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <table class="table table-condensed table-bordered table-striped">
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Points</th>
                <th>
                    Badges
                </th>

                
            </tr>


            <tr>
                <td>1</td>
                <td>Nayana Shrestha</td>
                <td>1125</td>
                <td>
                    <i class="fa fa-diamond" aria-hidden="true"></i>
                </td>

            </tr>
            <tr>
                <td>2</td>
                <td>Alex Shrestha</td>
                <td>1050</td>
                <td>
                    <i class="fa fa-diamond" aria-hidden="true"></i>
                </td>


            </tr>
            <tr>
                <td>3</td>
                <td>Rujwol Shrestha</td>
                <td>910</td>
                <td>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </td>


            </tr>
            <tr>
                <td>4</td>
                <td>Ronisha Shigdel</td>
                <td>790</td>
                <td>
                    <i class="fa fa-star" aria-hidden="true"></i>
                </td>


            </tr>
            <tr>
                <td>5</td>
                <td>Ashmita Phuyal</td>
                <td>600</td>
                <td>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </td>



            </tr>
            <tr>
                <td>6</td>
                <td>Ganesh Karki</td>
                <td>352</td>
                <td>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </td>


            </tr>
            <tr>
                <td>7</td>
                <td>Sandeep Gautam</td>
                <td>331</td>
                <td>
                    <i class="fa fa-star-half" aria-hidden="true"></i>
                </td>



            </tr>
            <tr>
                <td>8</td>
                <td>Tohfa Niraula</td>
                <td>210</td>
                <td>
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                </td>


            </tr>

        </table>


    </div>
</div>

